{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/custom.css') }}">
    {% block css %}{% endblock %}
{% endblock %}
{% block body %}
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {% block js %}{% endblock %}
{% endblock %}