{% extends '@Core/layout.html.twig' %}

{% block header %}
    Créer une personne
{% endblock %}

{% block content %}
    {{ form(registerForm) }}
{#{{ form_start(registerForm) }}#}
{#{{ form_errors(registerForm) }}#}
{#<div class="row">{{ form_row(registerForm.firstname) }}</div>#}
{#<div class="row">#}
    {#<div class="label">#}
        {#{{ form_label(registerForm.email) }}#}
    {#</div>#}
    {#<div class="input">#}
        {#{{ form_widget(registerForm.email) }}#}
    {#</div>#}
    {#<div class="errors">#}
        {#{{ form_errors(registerForm.email) }}#}
    {#</div>#}
{#</div>#}
{#<div class="row">#}
    {#{{ form_widget(registerForm.save) }}#}
{#</div>#}
{#{{ form_end(registerForm) }}#}
{% endblock %}