{% extends '@Core/layout.html.twig' %}

{% block header %}
    Encoder une adresse
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">{{ form_row(form.line1) }}</div>
    <div class="row">{{ form_row(form.zipCode) }}</div>
    <div class="row">{{ form_row(form.personne) }}</div>
    <div class="row">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
{% endblock %}

