<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" name="monform" method="post">
    <input type="email" name="monform_email">
    <input type="password" name="monform_password">
    <input type="submit" name="monform_submit">
</form>
</body>
</html>